In [36]:
import pandas as pd
import nltk
import matplotlib.pyplot as plt
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.feature_extraction.text import TfidfTransformer
from nltk.probability import FreqDist
from nltk.corpus import stopwords
from nltk.stem import PorterStemmer
from nltk.stem import WordNetLemmatizer 
from sklearn.metrics import confusion_matrix
import seaborn as sns
from sklearn.naive_bayes import MultinomialNB
from sklearn import metrics
from sklearn.model_selection import train_test_split
from matplotlib import cm
import numpy as np
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
from sklearn.metrics import f1_score
from sklearn.naive_bayes import MultinomialNB
from sklearn.metrics import plot_confusion_matrix


nltk.download('stopwords')
nltk.download('punkt')
nltk.download('wordnet')

[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/bensioninoyatov/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to
[nltk_data]     /Users/bensioninoyatov/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     /Users/bensioninoyatov/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [2]:
first = pd.read_csv('news.csv')
second = pd.read_csv('train.csv')

In [3]:
second['text'] = second['title'] + ' ' + second['text']
second.head()

,id,title,author,text,label
0,0,House Dem Aide: We Didn’t Even See Comey’s Let...,Darrell Lucus,House Dem Aide: We Didn’t Even See Comey’s Let...,1
1,1,"FLYNN: Hillary Clinton, Big Woman on Campus - ...",Daniel J. Flynn,"FLYNN: Hillary Clinton, Big Woman on Campus - ...",0
2,2,Why the Truth Might Get You Fired,Consortiumnews.com,Why the Truth Might Get You Fired Why the Trut...,1
3,3,15 Civilians Killed In Single US Airstrike Hav...,Jessica Purkiss,15 Civilians Killed In Single US Airstrike Hav...,1
4,4,Iranian woman jailed for fictional unpublished...,Howard Portnoy,Iranian woman jailed for fictional unpublished...,1

In [4]:
first['text'] = first['title'] + ' ' + first['text']
first.head()

,Unnamed: 0,title,text,label
0,8476,You Can Smell Hillary’s Fear,You Can Smell Hillary’s Fear Daniel Greenfield...,FAKE
1,10294,Watch The Exact Moment Paul Ryan Committed Pol...,Watch The Exact Moment Paul Ryan Committed Pol...,FAKE
2,3608,Kerry to go to Paris in gesture of sympathy,Kerry to go to Paris in gesture of sympathy U....,REAL
3,10142,Bernie supporters on Twitter erupt in anger ag...,Bernie supporters on Twitter erupt in anger ag...,FAKE
4,875,The Battle of New York: Why This Primary Matters,The Battle of New York: Why This Primary Matte...,REAL

In [5]:
first = first[['text', 'label']]

In [6]:
first['label'] = first['label'].apply(lambda x: 1 if x == 'FAKE' else 0)

In [7]:
first

                                                   text  label
0     You Can Smell Hillary’s Fear Daniel Greenfield...      1
1     Watch The Exact Moment Paul Ryan Committed Pol...      1
2     Kerry to go to Paris in gesture of sympathy U....      0
3     Bernie supporters on Twitter erupt in anger ag...      1
4     The Battle of New York: Why This Primary Matte...      0
...                                                 ...    ...
6330  State Department says it can't find emails fro...      0
6331  The ‘P’ in PBS Should Stand for ‘Plutocratic’ ...      1
6332  Anti-Trump Protesters Are Tools of the Oligarc...      1
6333  In Ethiopia, Obama seeks progress on peace, se...      0
6334  Jeb Bush Is Suddenly Attacking Trump. Here's W...      0

[6335 rows x 2 columns]

In [8]:
second = second[['text', 'label']]

In [9]:
second

                                                    text  label
0      House Dem Aide: We Didn’t Even See Comey’s Let...      1
1      FLYNN: Hillary Clinton, Big Woman on Campus - ...      0
2      Why the Truth Might Get You Fired Why the Trut...      1
3      15 Civilians Killed In Single US Airstrike Hav...      1
4      Iranian woman jailed for fictional unpublished...      1
...                                                  ...    ...
20795  Rapper T.I.: Trump a ’Poster Child For White S...      0
20796  N.F.L. Playoffs: Schedule, Matchups and Odds -...      0
20797  Macy’s Is Said to Receive Takeover Approach by...      0
20798  NATO, Russia To Hold Parallel Exercises In Bal...      1
20799  What Keeps the F-35 Alive   David Swanson is a...      1

[20800 rows x 2 columns]

In [10]:
frames = [first, second]
main = pd.concat(frames)

In [11]:
main

                                                    text  label
0      You Can Smell Hillary’s Fear Daniel Greenfield...      1
1      Watch The Exact Moment Paul Ryan Committed Pol...      1
2      Kerry to go to Paris in gesture of sympathy U....      0
3      Bernie supporters on Twitter erupt in anger ag...      1
4      The Battle of New York: Why This Primary Matte...      0
...                                                  ...    ...
20795  Rapper T.I.: Trump a ’Poster Child For White S...      0
20796  N.F.L. Playoffs: Schedule, Matchups and Odds -...      0
20797  Macy’s Is Said to Receive Takeover Approach by...      0
20798  NATO, Russia To Hold Parallel Exercises In Bal...      1
20799  What Keeps the F-35 Alive   David Swanson is a...      1

[27135 rows x 2 columns]

In [12]:
main.label.value_counts()

1    13577
0    13558
Name: label, dtype: int64

In [13]:
second.label.value_counts()

1    10413
0    10387
Name: label, dtype: int64

In [14]:
first.label.value_counts()

0    3171
1    3164
Name: label, dtype: int64

In [12]:
main.shape

(27135, 2)

In [13]:
main.isna().sum()

text     597
label      0
dtype: int64

In [14]:
main.dropna(inplace=True)

In [15]:
main.reset_index(inplace=True, drop=True)

In [16]:
main

                                                    text  label
0      You Can Smell Hillary’s Fear Daniel Greenfield...      1
1      Watch The Exact Moment Paul Ryan Committed Pol...      1
2      Kerry to go to Paris in gesture of sympathy U....      0
3      Bernie supporters on Twitter erupt in anger ag...      1
4      The Battle of New York: Why This Primary Matte...      0
...                                                  ...    ...
26533  Rapper T.I.: Trump a ’Poster Child For White S...      0
26534  N.F.L. Playoffs: Schedule, Matchups and Odds -...      0
26535  Macy’s Is Said to Receive Takeover Approach by...      0
26536  NATO, Russia To Hold Parallel Exercises In Bal...      1
26537  What Keeps the F-35 Alive   David Swanson is a...      1

[26538 rows x 2 columns]

In [17]:
main.to_csv('main.csv')

In [65]:
df = pd.read_csv('main.csv')

In [67]:
df

       Unnamed: 0                                               text  label
0               0  You Can Smell Hillary’s Fear Daniel Greenfield...      1
1               1  Watch The Exact Moment Paul Ryan Committed Pol...      1
2               2  Kerry to go to Paris in gesture of sympathy U....      0
3               3  Bernie supporters on Twitter erupt in anger ag...      1
4               4  The Battle of New York: Why This Primary Matte...      0
...           ...                                                ...    ...
26533       26533  Rapper T.I.: Trump a ’Poster Child For White S...      0
26534       26534  N.F.L. Playoffs: Schedule, Matchups and Odds -...      0
26535       26535  Macy’s Is Said to Receive Takeover Approach by...      0
26536       26536  NATO, Russia To Hold Parallel Exercises In Bal...      1
26537       26537  What Keeps the F-35 Alive   David Swanson is a...      1

[26538 rows x 3 columns]

In [1]:
import re

def cleaner(series):
    allwords = re.findall('[A-Za-z]+', series)
    return ' '.join(allwords)

In [2]:
df['text'][0]

NameError: name 'df' is not defined

In [103]:
import requests
from bs4 import BeautifulSoup

page = requests.get('https://apnews.com/article/turkey-aegean-sea-earthquakes-istanbul-ebd99da6825d19391bfeb59f6e568aa1') 
soup = BeautifulSoup(page.content, 'html.parser')

In [115]:
vari = soup.find_all('p')

In [122]:
vari[3].get_text()

'Turkey’s President Recep Tayyip Erdogan, speaking in Istanbul, said 438 were injured with five undergoing surgery and eight in intensive care. '

In [127]:
vari[0]

<p class="Component-root-0-2-83 Component-p-0-2-74">ISTANBUL (AP) — A strong earthquake struck Friday in the Aegean Sea between the Turkish coast and the Greek island of Samos, killing at least 14 people and injuring hundreds amid collapsed buildings and flooding, officials said.</p>

In [135]:
article=[] 
for i in range(0,23):
    article.append(vari[i].get_text())
' '.join(article)

'ISTANBUL (AP) — A strong earthquake struck Friday in the Aegean Sea between the Turkish coast and the Greek island of Samos, killing at least 14 people and injuring hundreds amid collapsed buildings and flooding, officials said. A small tsunami struck the Seferihisar district south of Izmir, the city in western Turkey that was the worst affected, said Haluk Ozener, director of the Istanbul-based Kandilli Observatory and Earthquake Research Institute. At least 12 people were killed in Izmir, Turkey’s third-largest city, including one who drowned, according to Turkey’s Disaster and Emergency Management Presidency, or AFAD. Turkey’s President Recep Tayyip Erdogan, speaking in Istanbul, said 438 were injured with five undergoing surgery and eight in intensive care.  On Samos, two teenagers died after being struck by a wall that collapsed. Greek Prime Minister Kyriakos Mitsotakis tweeted condolences, saying “Words are too poor to describe what one feels before the loss of children.”  At least 19 people were injured in Samos, with two, including a 14-year-old, being airlifted to Athens and seven hospitalized on the island, health authorities said.  The small tsunami that hit the Turkish coast also affected Samos, with seawater flooding streets in the main harbor town of Vathi. Authorities warned people to stay away from the coast and from potentially damaged buildings. Izmir Gov. Yavuz Selim Kosger said at least 70 people were rescued from wrecked buildings, with four destroyed and more than 10 collapsed. Others suffered less severe damage, he said, but did not give an exact number. Search-and-rescue efforts were underway in at least 17 buildings, AFAD said. Turkish media showed rescuers pulling people from the rubble. Clouds of dust or smoke rose from several spots. The earthquake, which the Kandilli institute said had a magnitude of 6.9, struck at 2:51 p.m. local time (1151 GMT) in Turkey and was centered was centered in the Aegean northeast of Samos at a depth of 16.5 kilometers (10.3 miles). It was felt across the eastern Greek islands and as far as the Greek capital, Athens, and in Bulgaria. In Turkey, it was also felt across the regions of Aegean and Marmara, including Istanbul. Istanbul’s governor said there were no reports of damage in the city, Turkey’s largest. Video on Twitter showed flooding in the Seferihisar district, and Turkish officials and broadcasters called on people to stay off the streets after reports of traffic congestion. Izmir Mayor Tunc Soyer urged residents to not enter damaged buildings and to be mindful of social distancing and mask mandates amid the COVID-19 pandemic. Greek seismologist Akis Tselentis told Greek state broadcaster ERT that due to the shallow depth of its epicenter — roughly 10 kilometers — potentially powerful aftershocks could be expected for several weeks and warned that buildings could collapse in a strong aftershock. Rescue teams and relief supplies were sent to Izmir from Istanbul and other cities, as well as from the Turkish Red Crescent. France offered assistance to both countries. The secretary of state for European affairs tweeted France’s “full solidarity with Greece and Turkey” and said “we are ready to offer the necessary aid.” The Greek minister responsible for civil protection and crisis management, Nikos Hardalias, headed to Samos along with a search and rescue team, paramedics and engineers. In a show of solidarity rare in recent months of tense bilateral relations, Greek and Turkish government officials issued mutual messages of solidarity. “We pray that there is no further loss of live in Turkey or Greece and we send our best wishes to all those affected on both sides of the earthquake,” Turkey’s Communications Director Fahrettin Altun tweeted. “This tragedy reminds us once again how close we are despite our differences over policy. We’re ready to help if Greece needs it.”  Mitsotakis, the Greek prime minister, tweeted that he had phoned Erdogan “to offer my condolences for the tragic loss of life from the earthquake that struck both our countries. Whatever our differences, these are times when our people need to stand together.” Speaking Friday evening, Erdogan thanked Mitsotakis for his call and offer for help. He said Turkey was not currently in need but reciprocated by saying, “We stand by Greece.” He also thanked other countries for their offers of aid. Relations between Turkey and Greece have been particularly tense, with warships from both facing off in the eastern Mediterranean in a dispute over maritime boundaries and energy exploration rights. The ongoing tension has led to fears of open conflict between the two neighbors and NATO allies. —- Becatoros reported from Athens. Angela Charlton in Paris and Amer Cohadzic in Sarajevo, Bosnia, contributed.'

In [66]:
df

       Unnamed: 0                                               text  label
0               0  You Can Smell Hillary’s Fear Daniel Greenfield...      1
1               1  Watch The Exact Moment Paul Ryan Committed Pol...      1
2               2  Kerry to go to Paris in gesture of sympathy U....      0
3               3  Bernie supporters on Twitter erupt in anger ag...      1
4               4  The Battle of New York: Why This Primary Matte...      0
...           ...                                                ...    ...
26533       26533  Rapper T.I.: Trump a ’Poster Child For White S...      0
26534       26534  N.F.L. Playoffs: Schedule, Matchups and Odds -...      0
26535       26535  Macy’s Is Said to Receive Takeover Approach by...      0
26536       26536  NATO, Russia To Hold Parallel Exercises In Bal...      1
26537       26537  What Keeps the F-35 Alive   David Swanson is a...      1

[26538 rows x 3 columns]

In [ ]:
data = main['text']
label = main['label']

In [ ]:
import string, re
string.punctuation

In [ ]:
# stopwords = stopwords.words('english')
stopwords += list(string.punctuation)
stopwords += ['’', '“', '”', '–', "'s", "''"]

In [ ]:
stopwords

In [ ]:
def process_article(article):
    article = article.lower()
    tokens = nltk.word_tokenize(article)
    stopwords_removed = [token.lower() for token in tokens if token.lower() not in stopwords]
    return stopwords_removed

In [ ]:
processed_news = list(map(process_article,data))

In [ ]:
processed_news[0]

In [ ]:
total_vocab = set()
for comment in processed_news:
    total_vocab.update(comment)
len(total_vocab)

In [ ]:
lemmatizer = WordNetLemmatizer()

In [ ]:
lemmatized_output = []

for article in processed_news:
    lemmed = ' '.join([lemmatizer.lemmatize(w) for w in article])
    lemmatized_output.append(lemmed)

In [ ]:
X_lem = lemmatized_output
# [' '.join(d) for d in processed_data]

y_lem = label
# X[3]

In [ ]:
X_train_lem, X_test_lem, y_train_lem, y_test_lem = train_test_split(X_lem, y_lem, test_size=0.35, random_state=1)
tfidf = TfidfVectorizer()

tfidf_data_train_lem = tfidf.fit_transform(X_train_lem)
tfidf_data_test_lem = tfidf.transform(X_test_lem)

tfidf_data_train_lem

In [ ]:
non_zero_cols = tfidf_data_train_lem.nnz / float(tfidf_data_train_lem.shape[0])
print("Average Number of Non-Zero Elements in Vectorized Articles: {}".format(non_zero_cols))

percent_sparse = 1 - (non_zero_cols / float(tfidf_data_train_lem.shape[1]))
print('Percentage of columns containing ZERO: {}'.format(percent_sparse))

In [ ]:
main

In [ ]:
df_freq_fake = main[main['label']==1]
df_freq_true = main[main['label']==0]

In [ ]:
data_fake = df_freq_fake['text']
data_true = df_freq_true['text']

In [ ]:
processed_fake = list(map(process_article, data_fake))
processed_true = list(map(process_article, data_true))

In [ ]:
flat_fake = [item for sublist in processed_fake for item in sublist]
flat_true = [item for sublist in processed_true for item in sublist]

In [ ]:
fake_freq = FreqDist(flat_fake)
true_freq = FreqDist(flat_true)

In [ ]:
fake_freq.most_common(20)

In [ ]:
true_freq.most_common()

In [ ]:
fake_bar_counts = [x[1] for x in fake_freq.most_common(25)]
fake_bar_words = [x[0] for x in fake_freq.most_common(25)]

true_bar_counts = [x[1] for x in true_freq.most_common(25)]
true_bar_words = [x[0] for x in true_freq.most_common(25)]

In [ ]:
color = cm.viridis_r(np.linspace(.4,.8, 30))

In [ ]:
new_figure = plt.figure(figsize=(16,4))

ax = new_figure.add_subplot(121)
ax2 = new_figure.add_subplot(122)

# Generate a line plot on first axes
ax.bar(fake_bar_words, fake_bar_counts, color=color)
# ax.plot(colormap='PRGn')

# Draw a scatter plot on 2nd axes
ax2.bar(true_bar_words, true_bar_counts, color=color )

ax.title.set_text('Fake')
ax2.title.set_text('Not Fake')

for ax in new_figure.axes:
    plt.sca(ax)
    plt.xticks(rotation=60)

plt.tight_layout(pad=0)

# plt.savefig('word count bar graphs.png')

plt.show()

In [ ]:
from wordcloud import WordCloud
fake_dictionary = dict(zip(fake_bar_words, fake_bar_counts))
true_dictionary = dict(zip(true_bar_words, true_bar_counts))

In [ ]:

wordcloud = WordCloud(colormap='Spectral').generate_from_frequencies(fake_dictionary)

# Display the generated image w/ matplotlib:

plt.figure(figsize=(10,10), facecolor='k')
plt.imshow(wordcloud, interpolation='bilinear')
plt.axis("off")
plt.tight_layout(pad=0)

# Uncomment the next line if you want to save your image:
# plt.savefig('satire_wordcloud.png')

plt.show()

In [ ]:
rfc_lemma = RandomForestClassifier(n_estimators=1000, random_state=1, verbose=1, n_jobs=-1)

In [ ]:
rfc_lemma.fit(tfidf_data_train_lem, y_train_lem)

rf_test_preds = rfc_lemma.predict(tfidf_data_test_lem)

In [ ]:
rf_acc_score_lem = accuracy_score(y_test_lem, rf_test_preds)
rf_f1_score_lem = f1_score(y_test_lem, rf_test_preds)
print('Random Forest with Lemmatization Features')
print("Testing Accuracy: {:.4}".format(rf_acc_score_lem))
print()
print("F1 Score: {:.4}".format(rf_f1_score_lem))

In [ ]:
from sklearn.model_selection import GridSearchCV

In [ ]:
param_grid = { 
    'n_estimators': [700,1000,1500],
    'max_depth': [20,50,100]
}
gs = GridSearchCV(estimator = rfc_lemma, param_grid=param_grid, n_jobs = 4, verbose = 1)

In [ ]:
gs.fit(tfidf_data_train_lem, y_train_lem)

In [ ]:
gs.best_params_

In [ ]:
rf1 = RandomForestClassifier(n_estimators=700, max_depth = 20, criterion='entropy',random_state=1, verbose=1, n_jobs=-1)

In [ ]:
rf1.fit(tfidf_data_train_lem, y_train_lem)

In [ ]:
preds = rf1.predict(tfidf_data_test_lem)

In [ ]:
rf_acc_score_lem = accuracy_score(y_test_lem, preds)
rf_f1_score_lem = f1_score(y_test_lem, preds)
print('Random Forest with Lemmatization Features')
print("Testing Accuracy: {:.4}".format(rf_acc_score_lem))
print()
print("F1 Score: {:.4}".format(rf_f1_score_lem))

In [ ]:
from sklearn.linear_model import PassiveAggressiveClassifier

In [ ]:
main.label.value_counts()

In [ ]:
x_train,x_test,y_train,y_test=train_test_split(main['text'], main['label'], test_size=0.25, random_state=7, shuffle=True)
tfidf_vectorizer=TfidfVectorizer(stop_words='english', max_df=0.75)

In [ ]:
vec_train=tfidf_vectorizer.fit_transform(x_train.values.astype('U'))
vec_test=tfidf_vectorizer.transform(x_test.values.astype('U'))

In [ ]:
pac=PassiveAggressiveClassifier(max_iter=50)
pac.fit(vec_train,y_train)

In [ ]:
y_pred=pac.predict(vec_test)
score=accuracy_score(y_test,y_pred)
print(f'PAC Accuracy: {round(score*100,2)}')

In [ ]:
plot_confusion_matrix(pac, vec_test, y_test)

In [ ]:
def findlabel(newtext):
    vec_newtext = tfidf_vectorizer.transform([newtext])
    newtext_preds = pac.predict(vec_newtext)
    return newtext_preds[0]

In [ ]:
holdout = pd.read_csv('test.csv')
holdout

In [ ]:
holdout['text'] = holdout['title'] + ' ' + holdout['text']

In [ ]:
holdout

In [ ]:
findlabel((holdout['text'][4]))